
@font-face {
    font-family: 'MyWebFont';
    src: url('font/LuloClean.woff2') format('woff2'),
        url('font/LuloClean.woff') format('woff');
}


/* global */

.nanaBody {
    background-color: #222222;
    font-family: 'MyWebFont';
    text-align: center;
}

/* body,
html {
    height: 100%;
    margin: 0;
    box-sizing: border-box;
} */

h2 {
    text-align: center;
    font-family: 'MyWebFont';
    color: #ffffff;
}

p {
    font-family: 'MyWebFont';
    font-size: 10px;
    color: grey;
}

div {
    font-family: 'MyWebFont';
}

fieldset {
    border: none;
    margin: auto;
}

form {
    font-family: 'MyWebFont';
    font-size: 13px;
    text-align: center;
}

/* all pgs */

.priceDiv {
    margin: 0 35%;
    display: inline-flex;
}

.nanaPriceLogo {
    width: auto;
    height: 13px;
    transform: rotate(300deg);
    padding-right: 8px;
}

.dollarSymbolWhite {
    width: auto;
    height: 12px;
    padding-right: 3px;
    padding-top: 3px;
}

.nanaPriceField {
    width: 80px;
    border: none;
    background-color: #222222;
    font-family: 'MyWebFont';
    font-size: 11px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.resultField1 {
    width: 60px;
    border: none;
    background-color: #fffada;
    font-family: 'MyWebFont';
}

.resultField2 {
    width: 75px;
    border: none;
    background-color: #fffada;
    font-family: 'MyWebFont';
}

.resultField3 {
    width: 98px;
    border: none;
    background-color: #fffada;
    font-family: 'MyWebFont';
}

.resultField4 {
    width: 85px;
    border: none;
    background-color: #fffada;
    font-family: 'MyWebFont';
}

.priceField {
    width: 80px;
    border: none;
    background-color: #fffada;
    font-family: 'MyWebFont';
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.usdLogo {
    width: auto;
    height: 13px;
}

.ethLogo {
    width: auto;
    height: 13px;
}

.totalsDiv {
    margin: 20px;
    text-align: center;
    padding-bottom: 10%;
}


/* 1 vx */

.field_one {
    background-color: #fffada;
    color: #000000;
    width: 300px;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px
}


.one_lvl1 {
    text-align: center;
    padding-top: 37px;
}

.one_lvl2 {
    text-align: center;
}


/* 2 vx */
.field_two {
    background-color: #fffada;
    color: #000000;
    width: 300px;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px
}

.two_vx1 {
    padding-top: 37px;
}

.two_vx2 {
    padding-top: 10px;
}

/* 3 vx */
.field_three {
    background-color: #fffada;
    color: #000000;
    width: 300px;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px
}

.three_vx1 {
    padding-top: 37px;
}

.three_vx2 {
    padding-top: 10px;
}

.three_vx3 {
    padding-top: 10px;
}

/* 4 vx */
.field_four {
    background-color: #fffada;
    color: #000000;
    width: 320px;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px
}

.four_vx12 {
    padding-top: 37px;
}

.four_vx34 {
    padding-top: 10px;
}

/* 5 vx */
.field_five {
    background-color: #fffada;
    color: #000000;
    width: 320px;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px
}

.five_vx12 {
    padding-top: 37px;
}

.five_vx34 {
    padding-top: 10px;
}

.five_vx5 {
    padding-top: 20px;
}



/* tabs */

 /* Style tab links */
.tabsDiv {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

 .tablink {
     background-color: inherit;
     color: white;
     float: left;
     border: none;
     outline: none;
     cursor: pointer;
     padding: 3px 10px;
     margin-bottom: 15px;
     font-size: 17px;
     width: fit-content;
 }

 .tablink:hover {
    color: #fffada;
    border-bottom: 0.5px solid #fffada;
 }

 /* Create an active/current "tab button" class */
 .tablink button:active {
    color: #fffada;
    border-bottom: 0.5px solid #fffada;
 }

 /* Style the tab content (and add height:100% for full page content) */
 .tabcontent {
     color: white;
     display: none;
     height: 100%;
 }

 #pg1vx {
     background-color: none;
 }

 #pg2vx {
     background-color: none;
 }

 #pg3vx {
     background-color: none;
 }

 #pg4vx {
     background-color: none;
 }

 #pg5vx {
     background-color: none;
 }



/* start navbar */

.navBar {
    background-color: none;
}

.navLogo {
    width: auto;
    height: 45px;
    float: left;
    padding-top: 3%;
    padding-left: 10%;
}

.ckLogo {
    width: auto;
    height: 40px;
}

.nanaLogo {
    width: auto;
    height: 40px;
}

.mtLogo {
    width: auto;
    height: 35px;
    padding-bottom: 2px;
    padding-left: 4px;
}

.navbar-links {
    float: right;
    margin: 3% 10%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    text-size-adjust: 5px;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    padding: 1rem;
    font-size: .77em;
}

.navbar-links li:hover {
    background-color: none;
}

.toggle-button {
    position: absolute;
    top: 4%;
    right: 5%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 13px;
}

.toggle-button .bar {
    height: 1px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
}

@media (max-width: 800px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;

    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {

        flex-direction: column;
        padding-top: 40px;
    }

    .navbar-links li {
        text-align: right;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* end navbar */
