.navBar {
    position: sticky;
    top: 0;
    border: none;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    background-color: none;
}

.navLogo {
    width: 50px;
    height: 50px;
    padding-left: 69%;
    padding-top: 10%;
}

ul {
    list-style-type: none;
    margin: 0%;
    padding-top: 3%;
    padding-right: 0%;
}

li {
    display: inline;
    padding: 10px;
    float: right;

}
