
.nanaBody {
background-color: #222222;
font-family: Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: 'MyWebFont';
    src: url('font/LuloClean.woff2') format('woff2'),
        url('font/LuloClean.woff') format('woff');
}

div {
    font-family: 'MyWebFont';
}

/* start navbar */

.navBar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: none;
    color: white;
}

.navLogo {
    width: 50px;
    height: 50px;
    padding-left: 80%;
    padding-top: 20%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    text-size-adjust: 5px;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: .77em;
}

.navbar-links li:hover {
    background-color: #555;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;

    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {

        flex-direction: column;
        padding-top: 40px;
    }

    .navbar-links li {
        text-align: right;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* end navbar */
/* below added for nav 'nana' dropdown menu */ 
li {
    display: block;
    transition-duration: 0.25s;
}

li:hover {
    cursor: pointer;
}

ul li ul {
    visibility: hidden;
    position: absolute;
    transition: all 0.25s ease;
    display: none;
    text-decoration: none;
}

ul li:hover>ul,
ul li ul:hover {
    visibility: visible;
    display: block;
    background-color: #222222;
}

ul li ul li {
    clear: both;
    width: 110%;
}
/* end nav dropdown */


.h1 {
    text-align: center;
    font-family: 'MyWebFont';
    color: #ffffff;
    padding-bottom: 2%;
}

.form {
    background-color: #fffada;
    color: #000000;
    width: 600px;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 5px
}

fieldset {
    border: none;
}
.lvl1 {
    text-align: center;
    float: left;
    padding-left: 80px;
    padding-top: 37px;
}

.lvl2 {
    text-align: center;
    float:right;
    padding-right: 80px;
    padding-top: 20px;

}

.totalsDiv {
    margin: 20px;
    text-align: center;
    padding-bottom: 10%;
}

.imgNana {
    position: absolute;
    max-width: 100px;
    max-height: 100px;
    rotate: -30deg;
    top: 40%;
    padding-left: 5%;
}

.imgVx {
    position: absolute;
    float: right;
    max-width: 150px;
    margin-left: 73%;
    top: 45%;
}
