@font-face {
  font-family: 'MyWebFont';
  src: url('font/LuloClean.woff2') format('woff2'),
    url('font/LuloClean.woff') format('woff');
}

div {
  font-family: 'MyWebFont';
}
 
.navBar {
  position: sticky;
  top: 0;
  border: none;
  display: grid;
  grid-template-columns: 7% 86% 7%;
  background-color: none;
  padding-bottom: 15px;
}

.navLogo {
  width: 50px;
  height: 50px;
  padding-left: 69%;
  padding-top: 10%;
}

ul {
  list-style-type: none;
  margin: 0%;
  padding-top: 3%;
  padding-right: 0%;
}

li {
  display: inline;
  padding: 10px;
  float: right;
}

/* below added for nav 'nana' dropdown menu */
li {
  display: block;
  transition-duration: 0.25s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  position: absolute;
  transition: all 0.25s ease;
  display: none;
  text-decoration: none;
  text-align: left;
}

ul li:hover>ul,
ul li ul:hover {
  visibility: visible;
  display: block;
  background-color: #222222;
}

ul li ul li {
  clear: both;
  width: 110%;
}

/* end nav dropdown */

  .wakBody {
    background-color: #222222;
  }
  
  
  .pf {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25% 25% 25%;
    overflow: hidden
  }

  .wgs {
    height: 241px;
    width: 320px;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

 .wgs__ck-vx {
   height: 250px;
   width: 180px;
   position: absolute;
   left: 40px;
   transition-property: margin-top;
   transition-duration: 0.25s;
 }

 .wgs__ck-nana {
   height: 207px;
   width: auto;
   position: absolute;
   top: 70px;
 }

 .wgs__ck-vk--hidden {
   height: 250px;
   width: 180px;
   position: absolute;
   left: 54.5px;
   margin-top: 220px;
 }
 
  .sb {
    background-color: #fffada;
    border-bottom: 1px solid #fffada;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: black;
    display: flex;
    font-size: 30px;
    margin-bottom: 50px;
    padding: 10px 20px;
  } */

  .sb__mole-counter {
    flex: 1 0 0;
    text-align: right;
  } */

  .sb__score-holder {
    flex: 1 0 0;
  } */

  .sb__game-over--hidden {
    display: none;
  } */

  .footNote {
    color: #ffffff;
  }