@font-face {
  font-family: 'MyWebFont';
  src: url('font/LuloClean.woff2') format('woff2'),
    url('font/LuloClean.woff') format('woff');
}

div {
  font-family: 'MyWebFont';
}
 
/* start navbar */

.navBar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: none;
  color: white;
}

.navLogo {
  width: 50px;
  height: 50px;
  padding-left: 80%;
  padding-top: 20%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  text-size-adjust: 5px;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-size: .77em;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;

  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {

    flex-direction: column;
    padding-top: 40px;
  }

  .navbar-links li {
    text-align: right;
  }

  .navbar-links li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* end navbar */
/* below added for nav 'nana' dropdown menu */
li {
  display: block;
  transition-duration: 0.25s;
}

li:hover {
  cursor: pointer;
}

ul li ul {
  visibility: hidden;
  position: absolute;
  transition: all 0.25s ease;
  display: none;
  text-decoration: none;
}

ul li:hover>ul,
ul li ul:hover {
  visibility: visible;
  display: block;
  background-color: #222222;
}

ul li ul li {
  clear: both;
  width: 110%;
}

/* end nav dropdown */
  .wakBody {
    background-color: #222222;
  }
  
  
  .pf {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 25% 25% 25% 25%;
    overflow: hidden
  }

  .wgs {
    height: 241px;
    width: 320px;
    position: relative;
    display: inline-block;
    overflow: hidden;
  }

 .wgs__ck-vx {
   height: 250px;
   width: 180px;
   position: absolute;
   left: 40px;
   transition-property: margin-top;
   transition-duration: 0.25s;
 }

 .wgs__ck-nana {
   height: 207px;
   width: auto;
   position: absolute;
   top: 70px;
 }

 .wgs__ck-vk--hidden {
   height: 250px;
   width: 180px;
   position: absolute;
   left: 54.5px;
   margin-top: 220px;
 }
 
  .sb {
    background-color: #fffada;
    border-bottom: 1px solid #fffada;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    color: black;
    display: flex;
    font-size: 30px;
    margin-bottom: 50px;
    padding: 10px 20px;
  } */

  .sb__mole-counter {
    flex: 1 0 0;
    text-align: right;
  } */

  .sb__score-holder {
    flex: 1 0 0;
  } */

  .sb__game-over--hidden {
    display: none;
  } */

  .footNote {
    color: #ffffff;
  }